html,body,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea
{
	font-family:arial, helvetica, sans-serif; color: #808080; 
	
}


body {
	
	font-family:small;
	
}


h1
{
font-family: arial, helvetica, sans-serif;  
color: #2895CE;
 font-size: x-large; /*MCG fixing the size of heading 1 */



}

