/* Esto hace que el block no se solape con el contenido principal */
.side-pre-only #page-content #region-main {
	margin-left: 250px;
	    
}

/* Esto es el ancho del block */
#page-content #region-pre {
    width: 250px;
}

/*Esto es el padding del contenido principal */
.side-pre-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main {
    padding-left: 40px;
}