@media screen and (min-width:360px) { /*MCG default setting */

p.t_left2 {
   
    font-size: 80%;/* MCG fixing the size of text in yellow background header*/
   



}

p.padding {
	
	
    font-size: 80%;
	
}

p.big {
	
	    font-size: 100%;
	
	
}

#page-content #region-main #region-pre { 
	
		float:left;
	
	width: 20%;
}
}

@media screen and (min-width:800px) { /*MCG default setting */

p.t_left2 {
   
    font-size: 100%;/* MCG fixing the size of text in yellow background header*/
   



}

p.padding {
	
	
    font-size: 90%;
	
}

p.big {
	
	    font-size: 100%;
	
	
}

#page-content #region-main {
	
	
	float:left;
	width: 50%;
}
}

@media screen and (min-width:980px) { /*MCG default setting */

#page-content #region-main {
	
	float:left;
	
	
	width: 80%; /*MCG wrapper:90% -10% margins */
}

p.t_left2 {
   
    font-size: 160%;/* MCG fixing the size of text in yellow background header*/
   



}

p.padding {
	
	
    font-size: 120%;
	
}

p.big {
	
	    font-size: 200%;
	
	
}

}
